##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##

{% if postgresql_pg_audit_postgres_conf is defined %}
{% if postgresql_pg_audit_postgres_conf is mapping %}
{% for opt in postgresql_pg_audit_postgres_conf | sort -%}
{{ opt }} = {{ postgresql_pg_audit_postgres_conf[opt] }}
{% endfor %}
{% else %}
{% for pair in postgresql_pg_audit_postgres_conf -%}
{% for key in pair -%}
{{ key }} = {{ pair[key] }}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
